<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Detail</title>
    <link rel="stylesheet" href="style_detail.css">
</head>
<body>
<div class="container">
    <h1>Todo Detail</h1>

    <div class="todo-detail">
        <p th:text="${detailTodo.title}"></p>
        <p th:text="${detailTodo.desc}"></p>
        <p th:text="${#temporals.format(detailTodo.dueDate, 'yyyy-MM-dd')}"></p>
        <p th:text="${detailTodo.completed} ? 'Completed' : 'Not Completed'"></p>
    </div>

    <div class="todo-actions">
        <a th:href="@{/home}">
            <button>Back to Home</button>
        </a>
        <a th:href="@{/updateForm/{id}(id=${detailTodo.id})}">
            <button>Update</button>
        </a>
        <a th:href="@{/delete/{id}(id=${detailTodo.id})}">
            <button>Delete</button>
        </a>
    </div>
</div>
</body>
</html>
